{% extends "shop/base.html" %}
{% block content %}

<div class="About-content">
  <title>About page</title>
  <h1>About page</h1>
  <p>
    <br>
    <br>
    This program's objective is to create a web application for school project
    and this web application is based on a online shop
  </p>
  <b>
  <p> <br>This project is developed by -
  <p> P ARVIND </p>
  <p> R NILESHWAR </p>
  <p> S SARAN KARTHIK </p>
  </b>
</div>

<style>
  .About-content{
    margin: auto;
    width: 70%;
    padding: 10px;
    border: solid aquamarine;
  }
</style>
{% endblock content %}