{% extends "shop/base.html" %}
{% block content %}

<div class=topnav>
  <ul>
    <li><a class="nav-item nav-link" href="#">Sign Up</a> </li>
    <li><a class="nav-item nav-link" href="#">Login</a></li>
    <li><a class="nav-item nav-link" href="{% url 'shop-home' %} ">Home</a></li>
    <li><a class="nav-item nav-link" href="{% url 'shop-about' %} ">About</a></li>
    <input type="text" placeholder="Search..">
  </ul>
  
</div>

<style>
  ul {
  list-style-type: none;
  margin: 0;
  padding: 1;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.topnav input[type=text] {
  float: right;
  align-self: auto;
  background-color: rgb(80, 78, 78);
  padding: 4px;
  border: none;
  margin-top: 5px;
  margin-right: 16px;
  font-size: 17px;
}
</style>

  {% for product in products %}
  <style>
    .card {
      float: left;
      width:30rem;
      position: relative;
      border: 3px solid rgb(24, 62, 187);
      margin: 10px;
      top: 10%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-110%, 10%);
    }
    </style>
  <div class ="card">
    <img src="{{ image.url }}">
    <div class="card-body">
      <h5 class="card-title">"{{product.productname}}"</h5>
      <p class="card-text">"{{product.description}}"</p>
      <p class="card-text">Price = {{product.price}}</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  {% endfor %}
{% endblock content %}