{% extends "shop/base.html" %}
{% block content %}
  {% for product in products %}
  <style>
     html{
       background-color: grey;
     }
    .card {
      display: block;
      float: right;
      height: 270px;
      width: 450px;
      border: 3px solid lightblue;
      margin: 10px;
      top: 10%;
      transform: translate(-200px,0px);
    }
    .card-body{
      height: 100%;
      width: 40%;
      background-color: lightgrey;
      float: right;
      padding: 20px;
    }
    .img-disp{
      height: 100%;
      width: 60%;
      float: left;
      padding: 5px;
      align-self: center;
    }
    .product-img{
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      width: 250px;
      height: 250px;
      object-fit: contain;
    }
    
    </style>
  <div class = "background">
    <div class ="card">
      <div class="img-disp">
      <img class = "product-img" src="{{ product.image.url }}"max-width=500px max-height=500px >
      </div>
      <div class="card-body">
        <h5 class="card-title">{{product.productname}}</h5>
        <p class="card-text">Price = {{product.price}}</p>
        <a href= "{% url 'Shop:shop-productInfo' product.productID%}" class="btn btn-primary" >Buy Now</a>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock content %}